/*
colors:
gray: #515151;
blue: #00B4FF;
offwhite: #EEEEEE;

*/

body {
	font-family: Roboto,helvetica,arial,sans-serif;
	font-size: 16px;

	background-color: #EEEEEE;
}

.top-bar {
	width: 100%;
	height: 50px;
	background-color: #515151;

	color: white;
	font-weight: bold;
	font-size: 33px;
	padding-left: 20px;
	font-style: italic;
}

.left-nav {
	position: absolute;
	top: 50px;
	bottom: 5px;
	width: 200px;
	padding-top: 40px;
	background-color: white;
	margin-top: 5px;
	margin-left: 5px;
}
.nav > li > a {
	padding: 8px 15px;
}
.nav-pills > li {
	border-top: 5px solid #EEEEEE;
}
.nav-pills > li.last {
	border-bottom: 5px solid #EEEEEE;
}
.nav-pills > li > a {
	color: #515151;
	border-radius: 0;
}
.nav-pills > li.active > a {
	background-color: #00B4FF;
	border-radius: 0;
	color: black;
}

.nav-stacked > li + li {
	margin-top: 0;
}

.external-links {
	padding-top: 10px;
	padding-left: 15px;
	font-size: 30px;
}

.external-links > a {
	margin-right: 15px;
}

.fa-github {
	color: black;
}
.fa-github:hover {
	color: #4078c0;
}

.fa-linkedin-square {
	color: #0077b5;
}

.fa-linkedin-square:hover {
	color: #005e9c;
}

.right-bar {
	position: absolute;
	top: 50px;
	bottom: 5px;
	left: 210px;
	right: 5px;
	vertical-align: top;
	margin-top: 5px;
	background-color: white;
	overflow-y: auto;
}

.tab-content {
	padding: 10px;
}

.tab-header {
	width: 100%;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}
.tab-text {
	margin-top: 10px;
}

.project-section {
	border-top: 1px solid black;
	padding-bottom: 50px;
}
.project-section-title {
	margin-bottom: 15px;
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
}
.project-section-title.right {
	text-align: right;
}

li > .project-title {
	font-style: italic;
}

.zeus-img {
	width: 350px;
	height: auto;
	vertical-align: top;
	margin-right: 150px;
}
.mhtgw-img {
	width: 300px;
	height: auto;
	float: left;
	margin-right: 20px;
}
.mhsww-img {
	width: 300px;
	height: auto;
	float: right;
	margin-right: 20px;
}
.simgen-img {
	width: auto;
	height: 340px;
	float: right;
	margin-left: 20px;
}
.simgen-text {
	min-height: 340px;
}
.pandemic-img {
	height: 375px;
	width: auto;
	float: left;
	margin-right: 20px;
}
.pandemic-text {
	min-height: 375px;
}

.oracle-text {
	min-height: 300px;
}

.coll-text {
	margin-top: 40px;
}
.plane-video, .coll-video {
	float: left;
	margin-right: 20px;
}
.reaver-video {
	float: left;
	margin-right: 20px;
}
.shmup-video {
	float: right;
	margin-left: 20px;
}
.games-text {
	min-height: 300px;
}

.sim-video {
	margin-left: 50px;
	margin-right: 50px;
}

.align-center {
	text-align: center;
}
.resume_icon {
	height: 50px;
}
